@{
    ViewData["Title"] = "Park Alanı Seç";
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Picker</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="~/css/picker.css" rel="stylesheet" />
</head>
<body>

    <input type="file" id="photoInput" accept="image/*" />
    <button onclick="clearSelection()">Clear Selection</button>
    <button onclick="saveToJsonFile()">Save to JSON File</button>
    <div id="canvasContainer" ></div>
    <div id="mouse-coordinates"></div>

    <script src="~/js/picker.js"></script>

</body>