@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<style>
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

		.switch input {
			opacity: 0;
			width: 0;
			height: 0;
		}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

		.slider:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}

	input:checked + .slider {
		background-color: #2196F3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

		.slider.round:before {
			border-radius: 50%;
		}
</style>
<div class="main__body">
	<ul class="main__body__box-info">
		<li>
			<i class="ph-car-fill"></i>
			<h5>@ViewData["plCount"]</h5>
			<p>Otopark Sayısı</p>
		</li>
		<li>
			<i class="ph-users-fill"></i>
			<h5>@ViewData["userCount"]</h5>
			<p>Üye Sayısı</p>
		</li>
		<li>
			<i class="ph-gear-fill"></i>
			<h5>Arka Plan Servislerini Durdur/Başlat</h5>
			<label class="switch">
				<input type="checkbox" id="toggleSwitch" onchange="toggleSwitchChanged()">
				<span class="slider round"></span>
			</label>
		</li>
	</ul>
</div>

<script>
	$(document).ready(function () {
		// CheckService action'ını çağır ve switch durumunu ayarla
		checkServiceAndSetSwitch();
	});

	function toggleSwitchChanged() {
		// Switch'ın durumu
		var switchElement = document.getElementById("toggleSwitch");
		var switchValue = switchElement.checked;

		// AJAX ile sunucuya switch değerini gönder
		$.ajax({
			type: "POST", 
			url: "/Admin/UpdateSwitch", 
			data: { switchValue: switchValue },
			success: function (response) {
				console.log("Sunucu tarafından dönen cevap: " + response);
			},
			error: function (error) {
				console.error("AJAX hatası: " + error);
			}
		});
	}

	function checkServiceAndSetSwitch() {
		$.ajax({
			type: "POST",
			url: "/Admin/CheckService",
			success: function (response) {

				var isServiceRunning = response.success;

				var switchElement = document.getElementById("toggleSwitch");
				switchElement.checked = isServiceRunning;

			},
			error: function (error) {
				console.error("AJAX hatası: " + error);
			}
		});
	}

</script>
