.dropbtn {
    background-color: transparent;
    color: white;
    padding: 8px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

    .dropdown-content a {
        display: block;
        padding: 12px 16px;
        background-color: white;
        border-radius: 0;
        border: 1px solid white;
    }

        .dropdown-content a:hover {
            /*background-color: lightgray;*/
            background-color: transparent;
            color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
}
    .dropdown:hover .dropdown-content a {
        color: black;
    }

    .dropdown:hover .dropdown-content a:hover {
        color: white;
    }

.dropdown:hover .dropbtn {
    background-color: transparent;

}